<div class="panel">
	<h3 class="panel text-center"><label>Contact</label></h3>
	<div class="container-fluid">
		<form>
			<input class="form-control" type="email" placeholder="email" ng-model="mssg.email" required/><br/>
			<input class="form-control" type="text" placeholder="title" ng-model="mssg.title" required/><br/>
			<textarea class="form-control" type="text" placeholder="content" ng-model="mssg.content" required></textarea><br/>
			<button class="btn btn-primary form-control" ng-click="contact.send(mssg)">Submit</button><br/><br/>
		</form>
	</div>
</div>