<div log-in class="panel container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<img alt="image" ng-src="{{$ctrl.post.imageLink}}">
		</div>
		<div class="col-sm-8">
			<div class="container-fluid">
				<div class="row panel">
					<p class="col-sm-4">{{$ctrl.post.time}}</p>
					<p class="col-sm-4">{{$ctrl.post.comment}} comment</p>
				</div>
				<h4 class="row panel"><label>{{$ctrl.post.title}}</label></h4>
				<p class="row">{{$ctrl.post.content}}</p>
			</div>
		</div>
	</div>
</div>
