<div class="row" ng-init="a=false">
	<div class="col-md-3">
		<img width="220px" height="284px" src="{{story[0].image}}">
	</div>
	<div class="col-md-5">
		<div>
			<b style="font-size: 30px">{{story[0].title}}</b>
		</div>
		<div class="stars">
		  <form action="">
			<input class="star star-5" id="star-5" type="radio" name="star"/>
			<label class="star star-5" for="star-5"></label>
			<input class="star star-4" id="star-4" type="radio" name="star"/>
			<label class="star star-4" for="star-4"></label>
			<input class="star star-3" id="star-3" type="radio" name="star"/>
			<label class="star star-3" for="star-3"></label>
			<input class="star star-2" id="star-2" type="radio" name="star"/>
			<label class="star star-2" for="star-2"></label>
			<input class="star star-1" id="star-1" type="radio" name="star"/>
			<label class="star star-1" for="star-1"></label>
		  </form>
		</div>
		<div>
			{{story[0].totalstar/(story[0].totalvote+1)}} / 10 tổng có {{story[0].totalvote}} sự đánh giá
		</div>
		<div>
			<p>Thể loại: {{story[0].categoryid}}</p>

		</div>
		<div>
			<p>Mo ta:{{story[0].description}} </p>
		</div>
		<div>
			<button class="btn btn-primary" ng-click="a=!a">Đọc truyện</button>
		</div>
		
	</div>
	
	<div ng-show="a===true">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
					<hr>
					<hr>
				<p style="font-size:18px">{{story[0].content}}</p>
			</div>
		</div>
	</div>
</div>

		
</div>